@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FoundersGroteskCondensed";
  src: url("./assets/fonts/FoundersGrotesk-Semibold.ttf");
}

@font-face {
  font-family: "NueueMontreal";
  src: url("./assets/fonts/NeueMontreal-Regular.ttf");
}

@font-face {
  font-family: "OnStageSerial";
  src: url("./assets/fonts/OnStageSerial-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KuraleRegular";
  src: url("./assets/fonts/Bauer Grotesk OT W03 Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "EireneSansRegular";
  src: url("./assets/fonts/EireneSans-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "NueueMontreal", sans-serif;
}

:root {
  color-scheme: dark;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wave-container {
  margin: 0 !important;
  padding: 0 !important;
}

/* Marquee Animations */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-slower {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee-slower {
  animation: marquee-slower 35s linear infinite;
}

/* Initial paused state */
.paused {
  animation-play-state: paused;
}

/* Play on hover */
.group:hover .group-hover\:running {
  animation-play-state: running;
}